@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --title: #ffffff;
    --bgc_body: #111827;
    --text: #9ca3af;
    --bg_icon: #164e63;
    --icon: #67e8f9;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: var(--bgc_body);
}

.header {
    margin-left: 23px;
    margin-bottom: 40px;
}

.header h2 {
    color: var(--title);
    font-size: 36px;
    line-height: 40px;
}

.header p {
    color: var(--text);
    font-size: 20px;
    line-height: 28px;
}

.container {
    padding: 8px 4px 8px 4px;
    max-width: 1280px;
    margin: auto;
}

.container-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
  
.box {
    padding: 20px;
}

.box .icon {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg_icon);
    border-radius: 50%;
}

svg { 
    width: 24px;
    color: var(--icon);
}

.box h3 {
    color: var(--title);
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
}

.box p {
    color: var(--text);
}

@media (max-width: 1024px) {
    .container-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .container-box {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 640px) {
    .container {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}